#serenity {
    background-image: url(/Images/yoga.png);
    width: 125%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: 675px 650px;
}

background {
    background-color: white;
}

#one {
    padding: 75px;
}

h3 {
    color: white;
}

h5 {
    color: white;
}

#suave {
    margin-top: 155px;
    margin-left: 50px;
}

#white {
    color: white;
}